@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 182.00 5.00% 100.00%;
    --foreground: 240 10% 3.9%;
    --card: 182.00 5.00% 100.00%;
    --card-foreground: 240 10% 3.9%;
    --popover: 182.00 4.00% 100.00%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 182.00 75.19% 42.06%;
    --primary-foreground: 0 0% 98%;
    --secondary: 212.00 17.80% 97.56%;
    --secondary-foreground: 240 10% 3.9%;
    --accent: 152.00 19.02% 97.56%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 4.63 74.93% 66.36%;
    --destructive-foreground: 0 0% 98%;
    --muted: 182.00 5.00% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 182 11.3% 90%;
    --input: 182 11.3% 90%;
    --ring: 182.00 75.19% 42.06%;
    --chart-1: 182.00 75.19% 42.06%;
    --chart-2: 212.00 17.80% 97.56%;
    --chart-3: 152.00 19.02% 97.56%;
    --chart-4: 182.00 5.00% 96%;
    --chart-5: 240 3.8% 46.1%;
  }

  .dark {
    --background: 182.00 15.04% 6.31%;
    --foreground: 0 0% 98%;
    --card: 182.00 15.04% 10.00%;
    --card-foreground: 0 0% 98%;
    --popover: 182.00 11.28% 9.00%;
    --popover-foreground: 0 0% 98%;
    --primary: 182.00 75.19% 56.59%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 212.00 75.35% 2.11%;
    --secondary-foreground: 0 0% 98%;
    --accent: 152.00 80.08% 2.11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 4.63 74.93% 66.36%;
    --destructive-foreground: 0 0% 98%;
    --muted: 182.00 15.04% 15%;
    --muted-foreground: 0 0% 63.9%;
    --border: 182 11.3% 15.9%;
    --input: 182 11.3% 15.9%;
    --ring: 182.00 75.19% 56.59%;
    --chart-1: 182.00 75.19% 56.59%;
    --chart-2: 212.00 75.35% 2.11%;
    --chart-3: 152.00 80.08% 2.11%;
    --chart-4: 182.00 15.04% 15%;
    --chart-5: 0 0% 63.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
